<%=@message%><br><br>
<form action="/menu" method="post">
    <input type="submit" value="Regresar al menú"  style="cursor:pointer;">
</form>
<form action="/allitems" method="post">
    <input type="submit" value="Ver Tareas"  style="cursor:pointer;">
</form>