<h2>Tus tareas</h2>

<form action="/create" method="post">
    *Ingresa el titulo de la nueva tarea:
    <input type="text" name="title">
    <input type="submit" value="Crear" style="cursor:pointer;">
</form>
*Para ver las tareas actuales:
<form action="/allitems" method="post" style="display:inline-block;">
    <input type="submit" value="Ver Tareas" style="cursor:pointer;width:100px;">
</form>